/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*                   STAFF INFO LAYOUT PAGE - START                          */
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: #FFFFFF url(images/bg01.png) repeat;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #363636;
}


h1, h2, h3 {
    margin: 0;
    padding: 0;
}

a {
    color: #171717;
}

    a:hover {
        text-decoration: none;
    }

/** WRAPPER */
#wrapper {
    background: #FFFFFF url(images/bg01.png) repeat;
}

#footer-wrapper {
    background: #0F0F0F;
}

.container {
    width: 70vw;
    min-width: 800px;
    margin: 0px auto;
}

.clearfix {
    clear: both;
}

/*---------------------------------------------------------------------------*/
/*                            Header Style                                   */
/*---------------------------------------------------------------------------*/

#header-wrapper {
    padding-bottom: 3em;
    background: #E8E8E8 url(images/bg01.png) repeat;
    box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,.1);
    height: 200px;
}

#header {
    position: relative;
    overflow: hidden;
    text-align: center;
}

/*---------------------------------------------------------------------------*/
/*                            Logo styling                                   */
/*---------------------------------------------------------------------------*/

#logo {
    width: 500px;
    height: 100px;
    margin: 0 auto;
    text-transform: uppercase;
}

    #logo h1 {
        letter-spacing: 0.10em;
        font-size: 3em;
    }

    #logo p {
        letter-spacing: 0.10em;
        color: #292A28;
    }

    #logo a {
        text-decoration: none;
        color: #292A28;
    }

/** MENU */
#menu {
    overflow: hidden;
    margin-bottom: 2em;
    background: #25292B;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    height: 100px;
}

    #menu ul {
        margin: 0;
        padding: 0px 0px 0px 0px;
        list-style: none;
        line-height: normal;
        text-align: center;
    }

    #menu li {
        display: inline-block;
    }

    #menu a {
        display: block;
        letter-spacing: 1px;
        line-height: 100px;
        padding: 0 40px;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.80em;
        font-weight: 600;
        border: none;
        color: #FFF;
    }

        #menu a:hover {
            text-decoration: none;
            font-size: 1.01em;
            background: #3cd689;
        }

#page {
    position: relative;
    overflow: hidden;
    padding: 6em 0em 5em 0em;
}

/*---------------------------------------------------------------------------*/
/*                            Footer style                                   */
/*---------------------------------------------------------------------------*/
#footer {
    overflow: hidden;
    padding: 5em 0em;
    text-align: center;
    text-transform: uppercase;
    color: #6F6F6F;
}

    #footer h2 {
        letter-spacing: 0.20em;
        font-weight: 700;
        font-size: 2.4em;
        color: #FFF;
    }

    #footer .byline {
        letter-spacing: 0.15em;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.90em;
        color: #6F6F6F;
    }

/*---------------------------------------------------------------------------*/
/*                              Copyright                                    */
/*---------------------------------------------------------------------------*/
#copyright {
    overflow: hidden;
    padding: 5em 0em;
    text-align: center;
}

    #copyright p {
        letter-spacing: 0.20em;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.80em;
        color: #6F6F6F;
    }

    #copyright a {
        text-decoration: none;
        color: #8C8C8C;
    }

/*---------------------------------------------------------------------------*/
/*                            Button Style                                   */
/*---------------------------------------------------------------------------*/
.button {
    display: inline-block;
    padding: 1em 3em 1em 2em;
    letter-spacing: 0.20em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.90em;
    color: #FFF;
}

    .button:before {
        display: inline-block;
        background: #FFC31F;
        margin-right: 1em;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
        text-align: center;
        color: #272925;
    }

.control-label {
    font-size: 1.2em;
}
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*                          Visitor LAYOUT PAGE - END                       */
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
/*                          Background image for Website                     */
/*---------------------------------------------------------------------------*/
#mybackground {
    background: url("/Content/images/lobby3.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: lightgrey;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*                            INDEX PAGE                                     */
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
/*                            Background for Index page                      */
/*---------------------------------------------------------------------------*/
#mybody {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
}

/*---------------------------------------------------------------------------*/
/*                        Background for CheckIn page                        */
/*---------------------------------------------------------------------------*/
#body-checkin {
    height: auto;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
}

#brandname {
    font-size: 30px;
}

/*---------------------------------------------------------------------------*/
/*                         Style Checklog nav-link                           */
/*---------------------------------------------------------------------------*/
#checklog {
    border-bottom: 1px solid lightgrey;
    margin-right: 5px;
    padding: 10px;
}

/*---------------------------------------------------------------------------*/
/*                    Style Schedule Meeting nav-link                        */
/*---------------------------------------------------------------------------*/
#mybutton {
    border-radius: 20px;
    width: 170px;
}


#main {
    padding-top: 8%;
}

/*---------------------------------------------------------------------------*/
/*                          Style Welcome Message                            */
/*---------------------------------------------------------------------------*/
#welcome {
    color: white;
    margin-top: 10%;
    margin-bottom: 60px;
    font-family: 'Public Sans', sans-serif;
}

/*---------------------------------------------------------------------------*/
/*   Set Translucent background for Company name    */
/*---------------------------------------------------------------------------*/
#companyname {
    color: #e4e4e4;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
}


/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*                            CHECKIN PAGE                                   */
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
#checkin {
    font-size: 3em;
    border-radius: 48px;
}

    #checkin:hover, .mybutton:hover {
        background-color: rgba(255, 255, 255, 0.65);
    }

/*---------------------------------------------------------------------------*/
/*              @media for responsive display on small devices               */
/*---------------------------------------------------------------------------*/
@media (max-width: 560px) {
    #welcome {
        font-size: 60px;
        margin-top: 80px;
    }

    #companyname {
        font-size: 40px;
    }

    #checkin {
        font-size: 2em;
    }
}

/*---------------------------------------------------------------------------*/
/*                       White background for CheckIn form                   */
/*---------------------------------------------------------------------------*/
#white-bg {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 7px;
}

/*---------------------------------------------------------------------------*/
/*                               Style InputFields                           */
/*---------------------------------------------------------------------------*/
/*.inputfield {
    height: 9em;
    border: none;
    border-bottom: 4px solid #6e6e6e;
    border-radius: 20px;
    background-color: transparent;
}*/

.inputfield:enabled {
    height: 3em;
    border: none;
    border-bottom: 4px solid #6e6e6e;
    border-radius: 5px;
}

.labeltext {
    font-size: 1.5rem;
    margin-top: 30px;
}




/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*                            LOGIN PAGE                                     */
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

.login-flex {
    height: auto;
    width: 100vw;
    /* The next three lines are used to center the div */
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    margin-top: 50px;
    height: 310px;
    width: 20em;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 5px 10px 4px rgba(0,0,0,0.2), -10px 15px 3px rgba(0,0,0,0.2);
}

.login-inputfield {
    border: none;
    border-bottom: 2px solid var(--main-blue);
    border-right: 1px solid var(--main-blue);
    border-radius: 1.5px;
    background-color: transparent;
}

.login-btn {
    background-color: var(--main-lightblue);
}

    .login-btn:hover {
        background-color: var(--main-blue);
    }
/* Login page styles - End */