
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<br /><br />
<hr />

<div class="row">
    <div class="col-sm-6">
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title">Edit my profile</h5>
                <hr />
                <p class="card-text">Click on the button below to view and edit profile.</p>
                @Html.ActionLink("Edit Profile", "Edit", new { id = Session["StaffId"] }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title">Create a new appointment</h5>
                <hr />
                <p class="card-text">Click on the button below to create keycode for a new appointment.</p>
                @Html.ActionLink("Create Keycode", "Create", "Keycode", null, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
</div>
<hr />