
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<hr />

<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title">Edit my profile</h5>
                <hr />
                <p class="card-text">Click on the button below to view and edit profile.</p>
                @Html.ActionLink("Edit Profile", "Edit", new { id = Session["AdminId"] }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title">View Visitor Log</h5>
                <hr />
                <p class="card-text">Click on the button below to view the log of all visitors.</p>
                @Html.ActionLink("View Visitor Log", "Index", "Visitor", null, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title">Create Staff Account</h5>
                <hr />
                <p class="card-text">Click on the button below to create new account for staff.</p>
                @Html.ActionLink("Create New Staff", "Registration", "Staff", null, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title">Create Admin Account</h5>
                <hr />
                <p class="card-text">Click on the button below to create keycode for a new appointment.</p>
                @Html.ActionLink("Create New Admin", "Registration", "Admin", null, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
</div>
<hr />