@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row" id="main">
    <div class="col-md-7">
        <h1 class="display-1" id="welcome">Welcome <br><span class="display-3" id="companyname">to Hestia Nig.</span></h1>
    </div>
    <div class="col-md-5 m-auto">
        <a href="~/Keycode/Checkkey" class="btn btn-outline-light mb-5" id="checkin">Check-in Here</a>

        <a href="~/Visitor/Checkoutlist" class="btn btn-outline-light btn-sm ml-5" id="checkin">Check-out</a>
    </div>
</div>